# Include the README
include README*

# Include the VERSION
include VERSION

# Include the LICENSE
include LICENSE*

# Include the CITATION file
include CITATION*

# Include images
recursive-include qtbricks *
